html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
}

header, footer {
  background-color: #765555;
  color: white;
  line-height: 100px;
  padding: 0 20px;
  margin-top: 10px;
  
}

.new-note {
  padding: 20px;
  background: #ae866c;
  margin-bottom: 10px;
}

.card {
  background: #e3ddc5;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
}

div {
  margin-bottom: 10px;
}

.toast {
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
}
